<html>
<head>
 <style>
#displayitem
{
     background-color: white;
    width: 300px;
    height: 300px;    
    border: 5px solid black;
    padding: 25px;
    margin: 15px;
        
    </style>
</head>
<body>
<!-- Donation page Section -->

    <section  id="viewdonation" class="bg-light-gray" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"></h2>
                    <h3 class="section-subheading text-muted">Search By Location Or Items </h3>
                    <input type="text" placeholder="Enter Search Query" ng-model="locationItems" name="locationItems">
                </div>
            </div>
            <div class="row">
                <div class="portfolio-item">
                    <div class="col-md-4 col-sm-4" ng-repeat="i in postDetails | filter:locationItems" id="displayitem">
                        
                      <label> Donor Name : {{i.name}}</label>
                        <div ng-repeat="j in i.items"> {{j.item}} - {{j.quantity}}</div>
                        <div class="portfolio-caption">
 
                      <button type="button" class="btn btn-info btn-lg" ng-click="claimForThisPost(i.postId,i.claims)">CLAIM</button>
                        
                    </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>


</body>
</html>

