<form >      
  <!-- Modal -->
<!--	  <div class="modal fade" id="postItemModal" role="dialog">-->
<!--		<div class="modal-dialog">-->

		  <!-- Modal content-->
		  <div class="modal-content">
			<div class="modal-header">
				<label class="text-center h3"><b>Donate Items</b></label>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body clearfix">

				<label><b>Item Name</b></label>
				<input type="text" ng-model="" placeholder="Item Name" required>

				<label><b>Quantity</b></label><br>
				<input type="text" ng-model="" placeholder="How Many?" required>

				<br><br>

				<button class="btn btn-lg btn-success outline" ng-click=""> + Add Another</button> <!--Add this item to Items Array-->

				<br><br><br>

				<label><b>How long are you in Town?</b></label><br>
				<input type="text" ng-model="" placeholder="Post Validity" required>

				<label><b>Enter Contact Number</b></label><br>
				<input type="text" ng-model="" placeholder="Where do we contact you?" required>

				<br><br>

				<button class="btn btn-lg btn-warning outline pull-right" type="submit">Submit</button>
				<!--<button class="btn btn-lg btn-primary outline pull-right" id="close" data-dismiss="modal">Close</button>-->

			</div>
			<div class="modal-footer">
			</div>  
		  </div>

<!--
		</div>
	  </div>
-->
</form>