<div class="modal-content clearfix">
	<div class="modal-header">
		
		<button type="button" class="close" data-dismiss="modal" ng-click="$dismiss()">&times;</button>
	</div>
	<div class="modal-body  clearfix">
		<form ng-submit="login()">  
			<label><b>UserName</b></label>
			<input type="text" ng-model="loginInfo.username" placeholder="Enter email address" name="username" required>

			<label><b>Password</b></label>
			<input type="password" ng-model="loginInfo.password" placeholder="Enter Password" name="password" required>

			<button class="loginbtn pull-right"  type="submit" ng-click="$close()">Login</button> <!-- redirect to home page -->
<!--			<button id="close" data-dismiss="modal" ng-click="$dismiss()">Close</button>-->
		</form>
	</div>
</div>