 <form ng-submit="register()">

	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">

		  <!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">

					<label><b>Username</b></label>
					<input type="text" ng-model="donorSignupInfo.username" placeholder="Enter Username"  required>

					<label><b>Email</b></label>
					<input type="email" ng-model="donorSignupInfo.email" placeholder="Enter email" name="email" required>

					<label><b>Contact NO</b></label>
					<input type="text"  ng-model="donorSignupInfo.contact" placeholder="Enter Contact Number"  name="pNo" minlength="10" maxlength="10" >

					<label><b>Password </b></label>
					<input type="password" ng-model="donorSignupInfo.password" placeholder="Enter Password" name="password" required>

					<label><b>Confirm Password </b></label>
					<input type="password" ng-model="donorSignupInfo.confirmPassword" placeholder="Re-enter Password" name="confirmPassword" required>
                    <span ng-hide="isSameDonor()">Passwords should match</span>

					<label><b>Address :</b></label>

					Select the Country :<br>
					<select ng-model="donorSignupInfo.selectCountry" onchange="print_state('state',this.selectedIndex);" id="country" name ="country">
					</select>
					<br />
					State in the above country :<br>
					<select ng-model="donorSignupInfo.selectState" name ="state" id ="state"></select>
					<script language="javascript">print_country("country");</script>

					<br>


					<button type="submit" class="btn btn-rounded loginbtn" ng-disabled="showButtonDonor" >SignUp</button>
					<button id="close" data-dismiss="modal" class="btn btn-rounded pull-right">Close</button>
				</div>
			</div>
		</div>
	</div>
    </form>