<form ng-submit="login()">      
      <!-- Modal -->
		  <div class="modal fade" id="myModal1" role="dialog">
			<div class="modal-dialog">

			  <!-- Modal content-->
			  <div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>

				</div>
				<div class="modal-body">

					<label><b>Username</b></label>
					<input type="text" ng-model="loginInfo.username" placeholder="Enter Username" id="username" name="username" required>

					<label><b>Password</b></label>
				<input type="password" ng-model="loginInfo.password" placeholder="Enter Password" name="password" id="password" required>
					<input type="checkbox" checked="checked"> Remember me</input><br>
					<div style="background-color:#f1f1f1">
						<span class="psw"> <a href="#"> Forgot password?</a></span>
					</div>	

						<button class="loginbtn"  type="submit" >Login</button> <!-- redirect to home page -->
						<button id="close" data-dismiss="modal">Close</button>

				</div>
				<div class="modal-footer">
					New user? SignUp 
				</div>  
			  </div>
			</div>
		  <!--</div>-->
	</form>